@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
}

.App {
  width: 100%;
  padding: 5px;
  display: grid;
  grid-template-columns: 0.25fr 1fr 1fr 1fr;
}

header {
  height: 1rem;
}
