@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
}

.App {
  width: 100%;
  padding: 0 0.5rem;
  display: grid;
  grid-template-rows: 0.15fr 1fr 1fr 1fr;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-logo {
  width: 75%;
}
